.user-online-widget
{
  background-color: #32a852;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  cursor: pointer;
  z-index: 9999999;
}

.user-online-widget:hover
{
  background-color: #23d954;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.user-online-widget--icon>i
{
  font-size: 36px;
  padding: 3px;
}

.user-online-widget--expand
{
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 300px;
  max-width: 82%;
  height: 100px;
  border-radius: 4px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
  cursor: pointer;
  display: none;
  z-index: 10;
}

.user-online-widget--close
{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.user-online-widget--body
{
  max-height: 330px;
  overflow-y: auto;
}
.bg-soft-dark {
  background: #333333 !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}