html, body{
    font-family: 'Rubik', sans-serif;
}
a{
  color: #c70039;
  cursor: pointer;
}
.page-item.active .page-link {
    background-color: #c70039;
    border-color: #c70039;
}
/* OWL Carousel */
.owl-next.disabled,
.owl-prev.disabled {
    opacity: 0.5;
}

.owl-theme .owl-nav [class*=owl-] {
    padding: 20px 7px;
    background-color: rgba(0,0,0,0);
    color: #777;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.owl-prev {
    left: -32px;
}

.owl-next {
    right: -32px;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 4   0px;
}

.owl-theme .owl-dots .owl-dot span {
    background: #e7d9eb;
    width: 35px;
    height: 8px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #c70039;
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #c70039;
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
}
.owl-carousel .owl-stage-outer {
    padding: 20px 0;
}
/* OWL Carousel */

/* PAGE LOADER */
/* =========== */
.page-loader {
  position:fixed;
  overflow: hidden;
  z-index: 9999;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background: #f0f0f0;
  box-shadow: inset 0px 0px 90px rgba(0, 0, 0, 0.2);
  margin: 0px;
  padding: 0px;
}

.loader-container {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
}

.circle {
  width: 100%;
  height: 100%;
  position: fixed;
}
.circle .circle-inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  /* border: 5px solid rgba(0, 255, 170, 0.7); */
  border: 5px solid rgba(200, 22, 22, 0.9);
  border-right: none;
  border-top: none;
  background-clip: padding;
  box-shadow: inset 0px 0px 10px rgba(200, 22, 22, 0.15);
}
.loader-logo{
  position: fixed;
  top: calc(50% - 25px);
  left: calc(50% - 50px);
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.circle:nth-of-type(0) {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
.circle:nth-of-type(0) .circle-inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.circle:nth-of-type(1) {
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}
.circle:nth-of-type(1) .circle-inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.circle:nth-of-type(2) {
  -webkit-transform: rotate(140deg);
          transform: rotate(140deg);
}
.circle:nth-of-type(2) .circle-inner {
  -webkit-animation: spin 2s infinite linear;
          animation: spin 2s infinite linear;
}

.loader-container {
  -webkit-animation: spin 5s infinite linear;
          animation: spin 5s infinite linear;
}
/* PAGE LOADER */

/* WIZARD */
.wizard-step {
  border: .0625rem solid #e9ecef;
  background-color: #f4f5f7;
}
.wizard-step-item {
  border: .0625rem solid #e9ecef;
  font-size: .775rem;
  text-align: center;
  padding: .7rem 0;
  color: #adb5bd;
  vertical-align: middle;
}
.wizard-step-item i {
  font-size: 1.1rem;
}
.wizard-step-item.active {
  background-color: #c70039;
  color: #fff;
  font-weight: 500;
}
.wizard-step-item.success {
  background-color: #fff;
  color: #777;
  font-weight: 500;
}
.wizard-step-item.success i {
  color: #8dce89;
}
.wizard-subtitle {
  font-size: 0.9rem;
}
.wizard-subtitle.small {
  font-size: 0.75rem;
}
/* WIZARD */

/* SWEETALERT */
/*.sweet-alert button.confirm {
  background-color: #c70039 !important;
}
.swal2-popup .swal2-styled.swal2-confirm {
    background-color: #c70039 !important;
}
.swal2-popup .swal2-title {
    font-weight: 500 !important;
}*/
/* SWEETALERT */

.text-dark-light {
  color: #8d9296 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 500;
    color: #32325d;
}

.form-group-separator-solid {
    padding: 1.2rem 0;
    margin: 0 !important;
    border-bottom: 1px solid #e9ecef;
}

.form-group-end {
  border: none !important;
}

.divider {
  margin: 1.5rem !important;
  border-bottom: 1px solid #e9ecef;
}

/* FORM */
.invalid-feedback {
  font-size: 90%;
  font-weight: 400;
  display: none;
}
.is-invalid {
  border-color: #fb6340 !important;
}
.uppercase {
    text-transform: uppercase;
}
/* FORM */

/* FLASH ALERT MESSAGE */
#flash_msg {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  z-index: 2000000001 !important;
}
#flash_msg .alert-inner--text{
  padding-right: 1.2rem;
}
#flash_msg button.close {
  padding: 0;
  position: absolute;
  top: 1rem;
  right: 0.3rem;
}
/* FLASH ALERT MESSAGE */

.border-sm {
  border-width: 2px !important;
}
.border-md {
  border-width: 3px !important;
}
.border-lg {
  border-width: 5px !important;
}

@media (min-width: 576px)
{
  .text-align-sm-left{
    text-align: left !important;
  }
  .text-align-sm-right{
    text-align: right !important;
  }
  .text-align-sm-center{
    text-align: center !important;
  }
}
@media (min-width: 768px)
{
  .text-align-md-left{
    text-align: left !important;
  }
  .text-align-md-right{
    text-align: right !important;
  }
  .text-align-md-center{
    text-align: center !important;
  }
}
@media (min-width: 992px)
{
  .text-align-lg-left{
    text-align: left !important;
  }
  .text-align-lg-right{
    text-align: right !important;
  }
  .text-align-lg-center{
    text-align: center !important;
  }
}

.datepicker {
  z-index: 1600 !important;
}

/* BACKGROUND COLOR */
.bg-gradient-primary
{
    background: linear-gradient(87deg, #c70039 0, #825ee4 100%) !important;
}

.bg-gradient-secondary
{
    background: linear-gradient(87deg, #f4f5f7 0, #f4f4f7 100%) !important;
}

.bg-gradient-success
{
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-info
{
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-warning
{
    background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

.bg-gradient-danger
{
    background: linear-gradient(87deg, #c70039 0, #f56036 100%) !important;
}

.bg-gradient-light
{
    background: linear-gradient(87deg, #adb5bd 0, #adaebd 100%) !important;
}

.bg-gradient-dark
{
    background: linear-gradient(87deg, #212529 0, #212229 100%) !important;
}

.bg-gradient-default
{
    background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}

.bg-gradient-white
{
    background: linear-gradient(87deg, #fff 0, white 100%) !important;
}

.bg-gradient-neutral
{
    background: linear-gradient(87deg, #fff 0, white 100%) !important;
}

.bg-gradient-darker
{
    background: linear-gradient(87deg, black 0, black 100%) !important;
}

.bg-gradient-blue
{
    background: linear-gradient(87deg, #c70039 0, #825ee4 100%) !important;
}

.bg-gradient-indigo
{
    background: linear-gradient(87deg, #5603ad 0, #9d03ad 100%) !important;
}

.bg-gradient-purple
{
    background: linear-gradient(87deg, #8965e0 0, #bc65e0 100%) !important;
}

.bg-gradient-pink
{
    background: linear-gradient(87deg, #f3a4b5 0, #f3b4a4 100%) !important;
}

.bg-gradient-red
{
    background: linear-gradient(87deg, #c70039 0, #f56036 100%) !important;
}

.bg-gradient-orange
{
    background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

.bg-gradient-yellow
{
    background: linear-gradient(87deg, #ffd600 0, #beff00 100%) !important;
}

.bg-gradient-green
{
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important;
}

.bg-gradient-teal
{
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
}

.bg-gradient-cyan
{
    background: linear-gradient(87deg, #2bffc6 0, #2be0ff 100%) !important;
}

.bg-gradient-white
{
    background: linear-gradient(87deg, #fff 0, white 100%) !important;
}

.bg-gradient-gray
{
    background: linear-gradient(87deg, #626171 0, #888aaa 100%) !important;
}

.bg-gradient-gray-dark
{
    background: linear-gradient(87deg, #32325d 0, #44325d 100%) !important;
}

.bg-gradient-light
{
    background: linear-gradient(87deg, #ced4da 0, #cecfda 100%) !important;
}

.bg-gradient-lighter
{
    background: linear-gradient(87deg, #e9ecef 0, #e9eaef 100%) !important;
}

.bg-gradient-red2
{
    background: linear-gradient(87deg, #c70039 0, #c70039 70%, #f56036 100%) !important;
}

.bg-red
{
    background-color: #c70039 !important;
}

a.bg-red:hover,
a.bg-red:focus,
button.bg-red:hover,
button.bg-red:focus
{
    background-color: #ec0c38 !important;
}
/* BACKGROUND COLOR */


/* METRONIC CUSTOM */
.form-control[readonly], .form-control[disabled], .form-control {
    border-color: #e0e1e4;
}

.input-group .input-group-btn > .btn.btn-secondary {
    border-color: #e0e1e4;
}

@media (min-width: 993px)
{
  .m-header-menu.m-header-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link .m-menu__link-text {
      color: #ffffff;
      font-weight: 500 !important;
  }
}
@media (min-width: 993px)
{
  .m-header-menu.m-header-menu--skin-dark .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
      color: #ddb1b1;
  }
}

@media (min-width: 993px)
{
  .m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--expanded > .m-menu__link > .m-menu__item-here, .m-header-menu .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link > .m-menu__item-here {
      color: #c70039 !important;
      top: 99%;
  }
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__notifications.m-topbar__notifications--img.m-dropdown--arrow .m-dropdown__arrow {
    color: #fff;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__quick-actions.m-topbar__quick-actions--img.m-dropdown--arrow .m-dropdown__arrow {
    color: #fff;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow {
    color: #fff;
}

.m-portlet.m-portlet--bordered {
    border: 1px solid #e0e1e4;
}

.bg-danger{
  background-color: #c70039 !important;
}
.btn-orange{
  background-color: #f56036 !important;
  color: #fff;
}
.btn-orange:hover{
  background-color: #d84c25 !important;
}
.btn-danger{
  background-color: #c70039;
  border-color: #c70039;
}
.bg-orange{
  background-color: #f56036 !important;
  color: #fff;
}
.shadow-none {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; 
}

.m-nav-grid .m-nav-grid__row .m-nav-grid__item .m-nav-grid__text {
    color: #f33e5c;
}

.m-tabs-line.m-tabs-line--brand.nav.nav-tabs .nav-link:hover, .m-tabs-line.m-tabs-line--brand.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--brand a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--brand a.m-tabs__link.active {
    color: #f33e5c;
    border-bottom: 1px solid #f33e5c;
}

.m-topbar .m-topbar__nav.m-nav > .m-nav__item > .m-nav__link .m-nav__link-icon .m-nav__link-icon-wrapper > i {
    color: #f33e5c;
}

.btn
{
    font-family: 'Rubik', sans-serif;
}
.btn.m-btn--custom {
    font-family: Rubik;
}

.datepicker tbody tr > td span.month.active:hover, .datepicker tbody tr > td span.month.active {
    background: #c70039;
    color: #ffffff;
}
.datepicker tbody tr > td.day.selected, .datepicker tbody tr > td.day.selected:hover, .datepicker tbody tr > td.day.active, .datepicker tbody tr > td.day.active:hover {
    background: #c70039;
    color: #ffffff;
}
/* METRONIC CUSTOM */

table {
  width: 100%;
}

.font-weight-500{
  font-weight: 500 !important;
}

.m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link:hover, .m-tabs-line.m-tabs-line--primary.nav.nav-tabs .nav-link.active, .m-tabs-line.m-tabs-line--primary a.m-tabs__link:hover, .m-tabs-line.m-tabs-line--primary a.m-tabs__link.active {
    color: #c70039;
    border-bottom: 1px solid #c70039;
}

ol, ul, dl {
  margin-top: 0;
}

.m-menu__nav--dropdown-submenu-arrow
{
  margin-top: -50px;
}

.page-link {
  border-radius: 50%;
  padding: 0.5rem 0.9rem;
  border: 0;
}

.bg-light-white {
  background-color: #fbfbfb !important;
}
.border-lighter {
  border-color: #eee !important;
}

.btn-orange{
    color: #fff;
    border-color: #fb6340;
    background-color: #fb6340;
}

.border-red{
    border: 0.2rem solid #c70039 !important;
}

.counter{
    position: fixed;
    top: 25%;
    left: 0;
    width: 1px;
    z-index:1000;
}
.counter_content{
    position: relative;
    left: -130px;
    width: 180px;
    height: 60px;
    max-width: 180px;
    max-height: 60px;
    margin-bottom: 5px;
    cursor: pointer;
}
.counter_body{
    float: left;
    /* background: #e97200; */
    width: 130px;
    height: 60px;
    color: #fff;
    padding: 10px 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    text-align: right;
}
.counter_icon{
    float: left;
    /* background: #ff9734; */
    width: 50px;
    height: 60px;
    border-radius: 0 8px 8px 0;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    padding: 5px 8px;
}
.counter_num{
    float: right;
    font-size: 20px;
    font-weight: bold;
    line-height: 80%;
}
.counter_caption{
    float: right;
    font-size: 12px;
}
#member_bg{ background: #f7801c; }
#member_icon{ background: #ff9e40; }
#pib_bg{ background: #d83746; }
#pib_icon{ background: #f33f50; }
#report_bg{ background: #01afa5; }
#report_icon{ background: #02c6ba; }
#detail_bg{ background: #125f8d; }
#detail_icon{ background: #1e6e9f; }

.btn-lighter
{
    color: #212529;
    border-color: #f4f5f7;
    background-color: #f4f5f7;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}
.btn-lighter:hover
{
    color: #212529;
    border-color: #f4f5f7; 
    background-color: #f4f5f7;
}

.title_bg_sm {
  width: 100px;
  height: 4px;
  border-radius: 4px;
  border: 0;
  background: #c81c1c;
  display: inline-block;
  margin-bottom: 30px;
}

/*modal*/
.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}
@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
}
.modal-header{
  border: 0;
}
.modal-footer{
  border: 0;
}

@media (min-width: 992px)
{
    .modal-lg
    {
        max-width: 800px;
    }
    .modal-xl
    {
        max-width: 90%;
    }
}

.user-online-widget
{
  background-color: #c70039;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  cursor: pointer;
  z-index: 9999999;
}

.user-online-widget:hover
{
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.user-online-widget--icon>i
{
  font-size: 40px
}

.user-online-widget--expand
{
  position: fixed;
  bottom: 30px;
  left: 30px;
  width: 300px;
  max-width: 82%;
  height: 100px;
  border-radius: 4px;
  box-shadow: 0 2px 20px rgba(0,0,0,0.3);
  cursor: pointer;
  display: none;
  z-index: 10;
}

.user-online-widget--close
{
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.user-online-widget--body
{
  max-height: 330px;
  overflow-y: auto;
}

.webchat-widget
{
  background-color: #c70039;
  border: 2px solid #ffffff;
  padding: 8px;
  position: fixed;
  bottom: 30px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  cursor: pointer;
  z-index: 999;
}
.webchat-widget:hover
{
  background-color: #f22d4e;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.webchat-widget--icon>a>i
{
  color: #fff;
  font-size: 27px
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2); 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ddd; 
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
}

p.separator {
    position: relative;
    margin: 1em 0;
}
p.separator:after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #f0f0f0;
    position: absolute;
    top: 50%;
    left: 0;
}
p.separator span {
    background-color: #fff;
    padding: 0 1em;
    position: relative;
    z-index: 1;
    font-style: italic;
}

.min-h-100vh
{
    min-height: 100vh !important;
}

.py-5r
{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

/*flip card*/
.flip-container {
  height: 150px;
  width: 150px;
  perspective: 600;
  position: relative;
}
.flipper {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.back,
.front {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  backface-visibility: hidden;
}
.front {
  background-color: red;
}
.back {
  background-color: blue;
  transform: rotateX(180deg);
}
.flipped {
  animation: spin180 1s 1 forwards;
}
.second-flip {
  animation: spin360 1s 1 forwards;
}
@keyframes spin180 {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}
@keyframes spin360 {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(360deg);
  }
}
/*flip card*/

.pointer {cursor: pointer;}

.m-aside-menu.m-aside-menu--skin-light .m-menu__nav > .m-menu__item.m-menu__item--active > .m-menu__link {
  background-color: #f3f3fa;
}

.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

.alert-heading {
  color: inherit; }

.alert-link {
  font-weight: bold; }

.alert-dismissible .close {
  position: relative;
  top: -0.75rem;
  right: -1.25rem;
  padding: 0.75rem 1.25rem;
  color: inherit; }

.alert-primary {
  color: #2e3673;
  background-color: #dee1f8;
  border-color: #d0d4f5; }
  .alert-primary hr {
    border-top-color: #bbc1f1; }
  .alert-primary .alert-link {
    color: #1f254f; }

.alert-secondary {
  color: #7a7b7e;
  background-color: #fbfbfc;
  border-color: #f9fafb; }
  .alert-secondary hr {
    border-top-color: #eaedf1; }
  .alert-secondary .alert-link {
    color: #616264; }

.alert-success {
  color: #1b6355;
  background-color: #d6f2ed;
  border-color: #c6ede5; }
  .alert-success hr {
    border-top-color: #b3e7dc; }
  .alert-success .alert-link {
    color: #103b33; }

.alert-info {
  color: #1c5580;
  background-color: #d7edfd;
  border-color: #c7e5fd; }
  .alert-info hr {
    border-top-color: #aedafc; }
  .alert-info .alert-link {
    color: #133956; }

.alert-warning {
  color: #856012;
  background-color: #fff1d3;
  border-color: #ffebc1; }
  .alert-warning hr {
    border-top-color: #ffe3a8; }
  .alert-warning .alert-link {
    color: #58400c; }

.alert-danger {
  color: #7f2a38;
  background-color: #fddce2;
  border-color: #fcced6; }
  .alert-danger hr {
    border-top-color: #fbb6c2; }
  .alert-danger .alert-link {
    color: #591d27; }

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe; }
  .alert-light hr {
    border-top-color: #ececf6; }
  .alert-light .alert-link {
    color: #686868; }

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca; }
  .alert-dark hr {
    border-top-color: #b9bbbe; }
  .alert-dark .alert-link {
    color: #040505; }