.alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem; }

.alert-heading {
  color: inherit; }

.alert-link {
  font-weight: bold; }

.alert-dismissible .close {
  position: relative;
  top: -0.75rem;
  right: -1.25rem;
  padding: 0.75rem 1.25rem;
  color: inherit; }

.alert-primary {
  color: #2e3673;
  background-color: #dee1f8;
  border-color: #d0d4f5; }
  .alert-primary hr {
    border-top-color: #bbc1f1; }
  .alert-primary .alert-link {
    color: #1f254f; }

.alert-secondary {
  color: #7a7b7e;
  background-color: #fbfbfc;
  border-color: #f9fafb; }
  .alert-secondary hr {
    border-top-color: #eaedf1; }
  .alert-secondary .alert-link {
    color: #616264; }

.alert-success {
  color: #1b6355;
  background-color: #d6f2ed;
  border-color: #c6ede5; }
  .alert-success hr {
    border-top-color: #b3e7dc; }
  .alert-success .alert-link {
    color: #103b33; }

.alert-info {
  color: #1c5580;
  background-color: #d7edfd;
  border-color: #c7e5fd; }
  .alert-info hr {
    border-top-color: #aedafc; }
  .alert-info .alert-link {
    color: #133956; }

.alert-warning {
  color: #856012;
  background-color: #fff1d3;
  border-color: #ffebc1; }
  .alert-warning hr {
    border-top-color: #ffe3a8; }
  .alert-warning .alert-link {
    color: #58400c; }

.alert-danger {
  color: #7f2a38;
  background-color: #fddce2;
  border-color: #fcced6; }
  .alert-danger hr {
    border-top-color: #fbb6c2; }
  .alert-danger .alert-link {
    color: #591d27; }

.alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe; }
  .alert-light hr {
    border-top-color: #ececf6; }
  .alert-light .alert-link {
    color: #686868; }

.alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca; }
  .alert-dark hr {
    border-top-color: #b9bbbe; }
  .alert-dark .alert-link {
    color: #040505; }

.datepicker {
  width: 265px;
  padding: 10px; }
  .datepicker.datepicker-orient-top {
    margin-top: 8px; }
  .datepicker table {
    width: 100%; }
  .datepicker td, .datepicker th {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px; }
  .datepicker thead th.prev, .datepicker thead th.datepicker-switch, .datepicker thead th.next {
    font-weight: 500; }
    .datepicker thead th.prev i, .datepicker thead th.datepicker-switch i, .datepicker thead th.next i {
      font-size: 0.85rem; }
  .datepicker thead th.dow {
    font-weight: 500; }
  .datepicker tbody tr > td.day.today {
    position: relative; }
    .datepicker tbody tr > td.day.today:before {
      content: '';
      display: inline-block;
      border: solid transparent;
      border-width: 0 0 7px 7px;
      border-bottom-color: #ffffff;
      border-top-color: rgba(0, 0, 0, 0.2);
      position: absolute;
      bottom: 4px;
      right: 4px; }
  .datepicker tfoot tr > th.today, .datepicker tfoot tr > th.clear {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500; }

.input-daterange .input-group-addon {
  min-width: 44px; }

.datepicker thead th.prev:hover, .datepicker thead th.datepicker-switch:hover, .datepicker thead th.next:hover {
  background: #ebedf2; }

.datepicker tbody tr > td.day {
  color: #575962; }
  .datepicker tbody tr > td.day:hover {
    background: #ebedf2; }
  .datepicker tbody tr > td.day.old {
    color: #7b7e8a; }
  .datepicker tbody tr > td.day.new {
    color: #575962; }
  .datepicker tbody tr > td.day.selected, .datepicker tbody tr > td.day.selected:hover, .datepicker tbody tr > td.day.active, .datepicker tbody tr > td.day.active:hover {
    background: #5867dd;
    color: #ffffff; }
  .datepicker tbody tr > td.day.today {
    background: #828ee6;
    color: #ffffff; }
    .datepicker tbody tr > td.day.today:before {
      border-bottom-color: #ffffff;
      border-top-color: rgba(0, 0, 0, 0.2); }
  .datepicker tbody tr > td.day.range {
    background: #f4f5f8; }

.datepicker tbody tr > td span.month {
  color: #575962; }
  .datepicker tbody tr > td span.month.focused, .datepicker tbody tr > td span.month:hover {
    background: #ebedf2; }
  .datepicker tbody tr > td span.month.active:hover, .datepicker tbody tr > td span.month.active {
    background: #5867dd;
    color: #ffffff; }

.datepicker tfoot tr > th.today:hover, .datepicker tfoot tr > th.clear:hover {
  background: #ebedf2; }